body {
    font-family: Arial, sans-serif;
    background-color: #FFDEDE;
    line-height: 1.5;

}
h1{
    font-size: 38px;
}
h2 {
    font-size: font-size;
}

ul.ingredients-list li {
    list-style: square inside; 
}
ul li {
    list-style: circle;
}

header > img {
    width: 100px;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    cursor:pointer;
    outline:none;
    background-image: url(./stars.png);
}

#expertise {
    cursor:pointer;
    outline:none;
}

input[type="submit"]:hover {
    cursor:pointer;
    outline:none;
    -webkit-filter: brightness(60%);
    color: white;
}  

form input:last-child { 
 background-color: #297F87;
}
ol li {
    background-color: #C1CFC0;
}

h2 + .user_review{
    border-style: 1px, solid, black, top;
}
input[type="radio"]:checked {
    background-position: 30px 30px;
}
input[type="radio"]:hover {
    background-position: 30px 60px;
}